/* Fonts */

@font-face {
    font-family: "myFont";
    src: url(Attachments/Fonts/AstroSpace-eZ2Bg.ttf);
}

/* Variables */

:root {
    --yellow: #f2ae30;
    --black: #000;
    --brown: #a62f03;
    --red: #bb0a1e;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: var(--red);
    border-radius: 5rem;
}

/* Selection */

::selection {
    color: #fff;
    background-color: var(--red);
}

/* All the page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "myFont";
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to top, var(--yellow), var(--brown), var(--black));
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* Header */

header {
    min-height: 100dvh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    width: 40%;
}

.text .welcome-text {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.text h1 {
    color: var(--yellow);
    font-size: 64px;
    letter-spacing: 10px;
    margin-top: 10px;
}

.text .slogan {
    text-transform: uppercase;
    color: var(--red);
    margin-bottom: 25px;
    font-size: 18px;
}

.text .description {
    color: gray;
    line-height: 1.6;
    margin-bottom: 20px;
}

.text .btn {
    background-color: transparent;
    border: 3px solid #fff;
    text-transform: uppercase;
    padding: 20px 20px;
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: .7s;
}

.text .btn:hover {
    transform: translateX(20px);
}

.text .btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--yellow);
    height: 100%;
    width: 0;
    border-radius: 8px;
    z-index: -1;
    transition: .4s;
}

.text .btn:hover::after {
    width: 100%;
}

.img {
    width: 40%;
}

.img img {
    width: 100%;
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px rgb(242, 255, 0));
}

@media screen and (max-width: 930px) {
    .text h1 {
        font-size: 42px;
    }

    .text .description {
        font-size: 14px;
    }

    .text .slogan {
        font-size: 17px;
    }

    .text .welcome-text {
        font-size: 14px;
    }

    .text .btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 695px) {
    .img {
        display: none;
    }

    header {
        justify-content: center;
    }

    .text {
        width: 90%;
    }

    .text .welcome-text {
        font-size: 16px;
    }

    .text h1 {
        font-size: 50px;
    }

    .text .slogan {
        font-size: 18px;
    }

    .text .description {
        font-size: 16px;
    }

    .text .btn {
        font-size: 16px;
    }

}

@media screen and (max-width: 505px) {

    .text h1 {
        font-size: 42px;
    }

    .text .description {
        font-size: 14px;
    }

    .text .slogan {
        font-size: 17px;
    }

    .text .welcome-text {
        font-size: 14px;
    }

    .text .btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 385px) {
    .text h1 {
        font-size: 30px;
    }

    .text .description {
        font-size: 12.5px;
    }

    .text .slogan {
        font-size: 16px;
    }

    .text .btn {
        font-size: 12px;
        padding: 15px 10px;
    }
}

@media screen and (max-width: 310px) {
    .text h1 {
        font-size: 24px;
    }

    .text .description {
        font-size: 10.5px;
    }

    .text .btn {
        font-size: 10.5px;
        padding: 12.5px;
    }

    .text .slogan {
        font-size: 14px;
    }

}

@media screen and (max-width: 260px) {
    .text h1 {
        font-size: 17px;
    }

    .text .slogan {
        font-size: 13px;
    }

    .text .description {
        font-size: 9px;
    }

    .text .btn {
        font-size: 9px;
    }
}

/* header {
    min-height: 100dvh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


header h1 {
    color: #fff;
    text-transform: capitalize;
    font-size: clamp(18px, 5vw, 75px);
    font-weight: 900;
    letter-spacing: 15px;
    margin-bottom: 5px;
    user-select: none;
}

header div {
    background-color: #fff;
    color: #000;
    text-transform: capitalize;
    display: inline-block;
    cursor: pointer;
    align-content: center;
    border-radius: 50px;
    padding: 3px 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
} */

/* Nav */

/* #nav {
    width: 100%;
    position: absolute;
    top: 0;
}

nav {
    height: 50px;
    width: 90%;
    margin: 30px auto 0;
    border: 2px #fff solid;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    animation: scroll-top ease-in-out 1s both;
}

nav a {
    cursor: pointer;
    color: #fff;
    transition: .2s ease;
}

nav a:hover {
    color: var(--yellow);
} */

/* Latest Projects & Products*/

.swiper {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.latestProjects-title,
.products-title {
    margin-bottom: 20px;
    position: relative;
}

.latestProjects-title a,
.products-title a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.latestProjects-title::after,
.products-title::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: .7s ease;
    border-radius: 30px;
}

.latestProjects-title:hover::after,
.products-title:hover::after {
    width: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.swiper-slide img {
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 15px;
    width: 300px;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

.swiper-button-prev,
.swiper-button-next {
    color: #f2ae30;
    position: absolute;
}

.swiper-button-next {
    right: 4px;
}

.swiper-button-prev {
    left: 4px;
}

.swiper-pagination-bullet-active {
    background-color: var(--yellow) !important;
}

.swiper-pagination-bullet {
    border: 4px solid var(--yellow);
}

/* Services & Contact Info */

.services-contactInfo {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Services */

#services {
    width: 90%;
    margin-inline: auto;
    text-align: center;
}

#services>p {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

#services>p::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: .7s ease;
    border-radius: 30px;
}

#services>p:hover::after {
    width: 100%;
}

.services-item {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.services-item p {
    background-color: #fff;
    color: #000;
    text-transform: capitalize;
    align-content: center;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    padding: 3px 15px 1px;
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: 1px;
    margin-inline: 15px;
    font-weight: 600;
    transition: .7s;
}

.services-item p:hover {
    color: #fff;
    background-color: #000;
    transform: scale(1.1);
}

/* Social Media Links & Contact Info */

#socialMedia-contactInfo {
    text-align: center;
}

#socialMedia-contactInfo p {
    background-color: #fff;
    color: #000;
    text-transform: capitalize;
    display: inline-block;
    cursor: pointer;
    align-content: center;
    border-radius: 30px;
    padding: 6px 20px 4px;
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
}

#arrow {
    text-align: center;
}

#arrow img {
    height: 64px;
}

/* Fire Image */

.fire-img {
    width: 100%;
    position: relative;
    top: 5px;
}

/* Footer */

footer {
    background-color: var(--yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
}

footer div p {
    font-size: 14px;
    font-weight: 700;
    margin-block: 15px;
}

footer div p a {
    color: #000;
    font-size: 14px;
    position: relative;
}

footer img {
    width: 150px;
    cursor: pointer;
}

/* Responsivity */

@media screen and (max-width: 800px) {

    #socialMedia-contactInfo p {
        font-size: 14px;
    }
}

@media screen and (max-width: 540px) {
    footer {
        flex-direction: column;
    }

    footer div p {
        text-align: center;
    }

    .services-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* @media screen and (max-width: 500px) {
    nav a {
        font-size: 12px;
    }

    header h1 {
        letter-spacing: 8px;
    }

    header div {
        font-size: 14px;
    }
} */

@media screen and (max-width: 370px) {
    /* nav a {
        font-size: 10px;
    }

    nav {
        height: 35px;
        padding: 10px 15px;
    } */

    #socialMedia-contactInfo p,
    .services-item p {
        font-size: 12px;
    }
}

/* @media screen and (max-width: 320px) {
    nav a {
        font-size: 8px;
    }
} */

@media screen and (max-width: 300px) {

    footer div p,
    footer div p a {
        font-size: 11px;
    }

    .latestProjects-title a,
    .products-title a,
    #services>p {
        font-size: 16px;
    }

}

@media screen and (max-width: 260px) {
    .services-item p {
        font-size: 10px;
    }
}

/* @media screen and (max-width: 250px) {
    nav {
        padding: 7px;
    }
} */

@media screen and (max-width: 230px) {
    .services-item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .services-item p {
        padding: 7px 2px;
    }
}

/* @media screen and (max-width: 220px) {
    nav a {
        font-size: 7px;
    }
} */



/* Animation */

.scroll-scale {
    opacity: 0;
    transform: scale(.7);
    transition: all 2s;
}

.scroll-bottom {
    opacity: 0;
    transform: translateY(300px);
    transition: 2s;
}

.scroll-top {
    opacity: 0;
    transform: translateY(-300px);
    transition: 2s;
}

.scroll-right {
    opacity: 0;
    transform: translateX(-250px);
    transition: 2s;
}

@media screen and (max-width: 310px) {
    .scroll-right {
        transform: translateX(-100px);
    }
}

.scroll-left {
    opacity: 0;
    transform: translateX(250px);
    transition: 2s;
}

.scroll-opacity {
    opacity: 0;
    transition: 4s;
}

.show-items {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}

/* Nav Animation */

@keyframes scroll-top {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Slider Responsivity ( Products & Latest Projects ) */

@media screen and (min-width: 769px) {
    .swiper-pagination {
        display: none;
    }
}

@media screen and (max-width: 769px) {

    .swiper-button-next::after,
    .swiper-button-prev::after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .swiper-slide img {
        width: 300px;
        padding: 5px;
    }

    p a {
        font-size: 18px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 35px;
    }
}

@media screen and (max-width: 350px) {
    .swiper-slide img {
        width: 200px;
        border-radius: 14px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 30px;
    }
}

@media screen and (max-width: 350px) {
    .swiper-slide img {
        width: 160px;
        border-radius: 13px;
    }
}